body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.spam{
  color:red;
}
.not_spam{
  color: green;
}